* { /* Reseta estilos padrão de todos os elementos */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    border: 0; /* Remove default border */
    outline: 0; /* Remove default outline... linha ao redor do elemento, fora da borda */
    box-sizing: border-box; /* Garante que o box-sizing seja aplicado a todos os elementos */
}

*, ::after, ::before { /* Garante que o box-sizing seja aplicado a todos os elementos e pseudo-elementos */
    box-sizing: border-box; /* Garante que o box-sizing seja aplicado a todos os elementos e pseudo-elementos */
}

:root { /* Variáveis CSS para cores e fontes */
    --cor-principal: #495e4f ; /* Cor principal do site */
    --cor-secundaria: #ffffff; /* Cor secundária do site */
    --cor-terceira-clara: #8b9694; /* Terceira cor clara do site */
    --cor-terceira-escura: #1f2122; /* Terceira cor escura do site */
    --cor-destaque: #ff9900; /* Cor de destaque do site */
    /* 
      A fonte padrão pode ser uma lista de fontes, onde a primeira disponível no sistema será usada.
      Exemplo: cormorant-garamond, Roboto, Open Sans, Montserrat, Raleway.
      Se preferir usar apenas uma fonte específica, remova as outras da lista.
    */
    --fonte-logo: cormorant-garamond; /* Fonte padrão do logo */
    --fonte-padrao: Roboto; /* Fonte padrão do site */
    --fonte-principal: Raleway; /* Fonte principal do site */
    --fonte-secundaria: open-sans /* Fonte secundária do site */
    --fonte-close: Raleway; /* Fonte para o botão de fechar */
    --espacamento: 1rem; /* Espaçamento padrão */
}

html, body { /* Define o tamanho base da fonte e a altura do body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Garante que o box-sizing seja aplicado a todos os elementos e pseudo-elementos */
    height: 100%; /* Garante que HTML e BODY ocupem 100% da viewport */
    min-width: 320px; /* Define uma largura mínima para o body */
    min-height: 344px; /* Mantido, mas pode ser ajustado */
}

body { /* Define o tamanho base da fonte e a altura do body */
    font-family: var(--fonte-padrao); /* Usa a fonte padrão definida em :root */
    color: var(--cor-secundaria); /* Cor do texto */
    background-color: var(--cor-principal); /* Cor de fundo do body */
    overflow: hidden; /* Garante que nada saia do container */
    overflow-y: auto;
}

.h1_zero { /* Classe para zerar o tamanho da fonte */
    font-size: 0; /* Zera o tamanho da fonte para evitar espaçamento indesejado */
    margin: 0; /* Remove margem para evitar espaçamento indesejado */
    padding: 0; /* Remove padding para evitar espaçamento indesejado */
}

.sect_uni {
    background-image: url('../assets/img_fundo_pg_constru.webp');
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: cover; /* A imagem cobre toda a àrea... pode cortar partes da imagem */
    background-position: center; /* Centraliza a imagem */
    min-height: 100vh; /* Ocupa toda a altura da viewport */
    box-sizing: border-box; /* Garante cálculo correto da largura */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 1rem; /* Exemplo: Compensar altura do header fixo */
}

.container { /* div principal do site */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    max-width: 1450px; /* Limita a largura máxima do conteúdo */
    padding: 1rem 0.8rem;
    box-sizing: border-box;
    /* min-height: 98%; /* Ocupa a maior parte da altura visível */

    /* height: calc(100vh - 1rem); /* **Importante**: Ocupa a altura restante da viewport, descontando o padding-top do body */
}

header {
    width: 100%;
    /* position: sticky; */
    top: 0; /* Gruda no topo quando a rolagem o alcança */
    /* padding: 1vh 6vw; /* Mantido seu padding responsivo */
    box-sizing: border-box;
    z-index: 1000;
    /* max-height: 10vh; /* Altura mínima do header. Essa é a altura que o padding-top do body compensa */
}

.div_lg img {
    max-height: 8vh; /* Altura máxima da logo, responsiva */
    max-width: 45vw; /* Largura máxima da logo, responsiva */
    height: auto;
    width: auto;
}

main {
    flex-grow: 1; /* Faz o conteúdo principal ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0; /* Padding interno para o main */
    box-sizing: border-box;
    width: 100%; /* Garante que o main ocupe toda a largura do container */
}

.p-breve {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem; /* Grande e chamativo */
    font-weight: 700;
    /* color: #E8F5E9; /* Verde bem claro, quase branco, para destaque */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Leve brilho */
    margin: 1rem 0;
    background-image: linear-gradient(180deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%); /* Linear gradient: angle, color stops */;
    -webkit-background-clip: text; /* Recorta o fundo ao texto (compatível com navegadores WebKit) */
    background-clip: text; /* Recorta o fundo ao texto */
    color: transparent; /* Torna a cor do texto transparente */
    -webkit-text-fill-color: transparent; /* Compatível com navegadores WebKit */
}

/* Animação de pulsação para o "Em Breve..." */
@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.05); opacity: 0.9; }
    100% { transform: scale(1); opacity: 1; }
}

.p-breve {
    animation: pulse 1.5s infinite ease-in-out; /* Aplica a animação */
}

.p-melhores {
    font-family: var(--fonte-principal);
    font-size: 2.3rem; /* Tamanho maior para a frase principal */
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
    text-shadow: 3px 3px 7px var(--cor-terceira-escura); /* Sombra do texto do título */
}

.p-descricao {
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}

.p-agenda {
    font-family: var(--fonte-principal);
    font-size: 1.2rem; /* Grande e chamativo */
    font-weight: 500;
    margin-top: 4rem;
    text-shadow: 0 0 7px var(--cor-terceira-escura); /* Sombra do texto do título */
}

.p-agenda i {
    margin-left: 0.3rem;
    font-size: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alinha o conteúdo inferior */
    width: 100%;
    padding: 1rem 0 1rem;
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
    bottom: 0;
    box-sizing: border-box;
    z-index: 1000;
    /* padding: 3vh 6vw; /* Mantido seu padding responsivo */
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    text-shadow: 0 0 4px var(--cor-terceira-escura); /* Sombra do texto do título */
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
}

.contact-item i {
    margin-right: 0.3rem;
    font-size: 1rem;
}

.contact-item a, .contact-item a:hover {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do elemento pai */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse sobre links */
}

/* Estado inicial e para links não visitados */
#btn_tel a,
#btn_tel a:link,
#btn_tel a:visited {
    color: #FFFFFF;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none; /* Garante que não haja sublinhado persistente */
    outline: none; /* Remove o contorno padrão do navegador */
    transform: scale(1.0);
    opacity: 1;
    display: inline-block;
}

/* Estado ao passar o mouse por cima */
#btn_tel a:hover {
    transform: scale(1.1); /* Efeito ao passar o mouse */
    color: #C8E6C9; /* Verde claro no hover */
    opacity: 0.4;
    text-shadow: none;
}

/* Estado no momento do clique */
#btn_tel a:active {
    color: #545454;
    outline: none; /* Remova o outline para não sobrepor o efeito de afundar */

    transform: scale(0.95); /* Efeito de "afundar" */
}

a[href^="mailto:"] {
    /* color: blue; */
    text-decoration: none;
    cursor: pointer;
}

a[href^="mailto:"]:hover {
    text-decoration: underline;
    /* color: darkblue; */
}

.social_icons {
    display: flex;
    gap: 1.8rem; /* Espaço entre os ícones */
    margin-top: 1rem;
}

.social_icons a,
.social-icons a:link,
.social_icons a:visited {
    color: #FFFFFF;
    font-size: 1.8rem; /* Tamanho dos ícones */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    opacity: 1; /* Define uma opacidade inicial explícita */
    transform: scale(1.0); /* Define um estado inicial explícito para a transformação */
}

.social_icons a:hover {
    transform: scale(1.1); /* Efeito ao passar o mouse */
    color: #C8E6C9; /* Verde claro no hover */
    opacity: 0.4;
    outline: none; /* Pode manter ou remover, já que o foco será perdido */
}

.social_icons a:active {
    color: #545454;
    outline: none; /* Remova o outline para não sobrepor o efeito de afundar */

    transform: scale(0.95); /* Efeito de "afundar" */
}



/* ######################################### */
/* ESTE TRECHO SERVE PARA RESPONSIVIDADE */
/* ######################################### */

/* Responsividade para telas com largura máxima 450px */
@media screen and (max-width: 450px) {
    .p-agenda i {
        display: none;
    }
}

/* Responsividade para telas com largura máxima 620px */
@media screen and (max-width: 620px) {
    footer {
        flex-direction: column;
        align-items: center; /* Centraliza os itens no rodapé */
    }

    .contact_info {
        align-items: center; /* Centraliza informações de contato */
    }

    .social_icons {
        justify-content: center;
        width: 100%;
    }
}

/* Responsividade para telas com largura máxima 620px e altura máxima 790px */
@media screen and (max-width: 620px) and (max-height: 790px) {
    .p-vapor {
        display: none;
    }

    .p-agenda {
        margin-top: 3rem;
    }

    .social_icons {
        margin-top: 0.5rem;
    }
}

/* Responsividade para telas com largura máxima 620px e altura máxima 690px */
@media screen and (max-width: 620px) and (max-height: 690px) {
    .p-breve {
        margin: 0.7rem;
        font-size: 1.5rem;
    }

    .p-melhores {
        font-size: 2rem;
    }

    .p-descricao {
        margin-top: 0.7rem;
        font-size: 0.9rem;
    }

    .p-agenda {
        font-size: 1rem;
    }

    .contact-item {
        font-size: 1rem;
    }

    .contact-item i {
        font-size: 0.8rem;
    }

    #btn_tel {
        font-size: 1rem;
    }
}

/* Responsividade para telas com largura máxima 620px e altura máxima 555px */
@media screen and (max-width: 620px) and (max-height: 555px) {
    .p-breve {
        margin: 0 0 0.4rem;
        font-size: 0.9rem;
    }

    .p-melhores {
        font-size: 1.1rem;
    }

    .p-descricao {
        margin-top: 0.7rem;
        font-size: 0.7rem;
    }

    .p-agenda {
        font-size: 0.7rem;
        margin-top: 0.9rem;
    }

    footer {
        padding: 0.2rem 0 0.7rem;
    }

    .contact-item {
        font-size: 0.7rem;
    }

    .contact-item i {
        font-size: 0.5rem;
    }

    #btn_tel {
        font-size: 0.7rem;
    }

    .social_icons a {
        font-size: 1.2rem; /* Tamanho dos ícones */
    }
}

/* Responsividade para telas com largura mínima 621px e altura mínima 620px*/
@media screen and (min-width: 621px) and (max-height: 620px){
    .p-breve {
        margin: 0 0 0.3rem;
        font-size: 1.2rem;
    }

    .p-melhores {
        font-size: 1.6rem;
    }

    .p-descricao {
        font-size: 0.9rem;
        margin-top: 0.8rem;
    }

    .p-vapor {
        display: none;
    }

    .p-agenda {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    footer {
        padding: 0 0 0.7rem;
    }

    .contact-item {
        font-size: 0.9rem;
    }

    .contact-item i {
        font-size: 0.7rem;
    }

    #btn_tel {
        font-size: 0.9rem;
    }

    .social_icons a {
        font-size: 1.4rem; /* Tamanho dos ícones */
    }
}

/* Responsividade para telas com largura mínima 900px e altura mínima 710px*/
@media screen and (min-width: 900px) and (min-height: 710px){
    .container {
        padding: 2rem;
    }

    main {
        padding: 2rem;
    }

    .p-breve {
        margin: 2rem;
        font-size: 3rem;
    }

    .p-melhores {
        font-size: 3.5rem;
    }

    .p-agenda {
        margin-top: 3rem;
    }

    .contact-item {
        font-size: 1.2rem;
    }

    .contact-item i {
        font-size: 1rem;
    }

    #btn_tel {
        font-size: 1.2rem;
    }

    .social_icons {
        gap: 3rem; /* Espaço entre os ícones */
        /* margin-top: 1.5rem; */
    }

    .social_icons a {
        font-size: 2.5rem; /* Tamanho dos ícones */
    }
}


/* ######################################### */
/* ESTE TRECHO SERVE PARA O BANNER DO COOKIE */
/* ######################################### */

#cookie-consent-banner {
    display: none;
    position: fixed; /* Fixa o banner na tela */
    bottom: 0px; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Ocupa toda a largura */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    color: #fff; /* Texto branco */
    padding: 15px 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 9999; /* Garante que fique acima de tudo */
    font-family: 'Poppins', sans-serif; /* Use a mesma fonte do seu site */
    font-size: 0.9em;
    line-height: 1.4;
    display: flex; /* Para centralizar o conteúdo */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para quebrar linha em telas pequenas */
}

#cookie-consent-banner p {
    margin: 0 20px 10px 0; /* Espaço entre o texto e o botão */
    flex-grow: 1; /* Permite que o parágrafo ocupe o espaço disponível */
}

#cookie-consent-banner p a {
    color: #8BC34A; /* Cor do link (seu verde apagado) */
    text-decoration: underline;
}

#cookie-consent-banner button {
    background-color: #8BC34A; /* Cor do botão (seu verde apagado) */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#cookie-consent-banner button:hover {
    background-color: #689F38; /* Um tom mais escuro no hover */
}

/* Responsividade básica para telas menores */
@media (max-width: 768px) {
    #cookie-consent-banner {
        /* flex-direction: column; */
        padding: 15px;
    }
    #cookie-consent-banner p {
        margin: 0 0 15px 0;
    }
}
